#navbar {
    z-index: 2;
    position: absolute;
    left: 0;
}

#navbar #logo {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 1);
}

#navbar a {
    height: 10vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    width: 100%;
    text-overflow: ellipsis;
    margin-bottom: 5vh;
}
