body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imgs/background.png");
}

.row {
    margin-bottom: 0;
}

.container {
    height: 100%;
    width: 100%;
}
.logo {
    display: flex;
    height: 10%;
}

.player-container {
    height:80%;
}

.player {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 62.5%;
}

.links {
    height: 10%;
}

.links .row img {
    height: 100%;
    width: 100%;
}
